<div class="inmodal modal-content has-no-order">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">订单出现了什么问题？</h4>
    </div>
    <div class="modal-body">
        <textarea class="textarea" placeholder="请输入不能接单的原因" ng-model="reason"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="rebackSubmit()">提交</button>
    </div>
</div>
