<!--list-->
<div class="row clearfix order-list">
	<order-list></order-list>
</div>

<!--切换-->
<div class="row" style="margin-top: 20px;">
	<div class="col-md-12">
		<ul class="nav-tabs clearfix" role="tablist">
		    <li ng-class = "{active:(orderIndex == '0')}" ng-click="changeTab(0)">
		    	订单进度
		    </li>
			<li ng-class = "{active:(orderIndex == '1')}" ng-click="changeTab(1)">
				关键词明细
			</li>
		</ul>
		<div class="tab-content clearfix box-shadow">
		    <div class="tab-pane" ng-class = "{active:(orderIndex == '0')}">
		    	<ul class="timeline">
		    		<li class="tl-item" ng-repeat="(index, item) in info.orderLog">
		    			<div class="tl-wrap" ng-class="{'b-info':(item.order_status == 5), 'b-danger': (item.order_status == 7 || item.order_status == -1)}">
		    				<div class="tl-content">
				              	<p class="result-item">{{item.name}} <span ng-if="item.order_status == 7 || item.order_status == -1">{{item.remark}}</span></p>
				              	<p class="result-time">{{item.create_time | timeFormatter}}</p>
				            </div>
		    			</div>
		    		</li>
		    	</ul>
		    </div>
		    <div class="tab-pane tab-pane-table file-list-view" ng-class = "{active:(orderIndex == '1'), 'machine-brush': (status == 1)}">
		    	<div class="list-view-header">
		    		<span class="cell cell-id"></span>
		    		<span class="cell">关键词</span>
		    		<span class="cell">热度</span>
		    		<span class="cell">当前排名</span>
		    		<span class="cell" ng-if="status == 0">购买量</span>
		    	</div>

		    	<div class="list-view-header" ng-repeat="(index, rank) in info.orderDetail">
		    		<span class="cell cell-id">{{index + 1}}</span>
		    		<span class="cell">{{rank.keyword}}</span>
		    		<span class="cell">{{rank.init_hot}}</span>
		    		<span class="cell">{{rank.init_rank}}</span>
		    		<span class="cell" ng-if="status == 0">{{rank.buy_download}}</span>
		    	</div>
		    </div>
		 </div>
	</div>
</div>