/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */

.switchery {
    background-color: #e5eaef;
    border-radius: 14px;
    cursor: pointer;
    display: inline-block;
    height: 26px;
    position: relative;
    vertical-align: middle;
    width: 56px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-right: 1px;
}

.switchery > small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 24px;
    width: 24px;
    position: absolute;
    top: 1px;
}